@font-face {
    font-family: 'icomoon';
    src: url('./fonts/icomoon.eot');
    src: url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hijri-calendar [class^='icon-'],
.hijri-calendar [class*=' icon-'] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hijri-calendar .icon-chevron-sign-right:before {
    content: '';
}

.hijri-calendar .icon-chevron-sign-left:before {
    content: '';
}

.hijri-calendar .icon-plus-sign:before {
    content: '';
}

.hijri-calendar .icon-minus-sign:before {
    content: '';
}

.hijri-calendar .icon-sun:before {
    content: '';
}

.hijri-calendar .icon-moon:before {
    content: '';
}

.hijri-calendar .icon-circle:before {
    content: '';
}

.hijri-calendar .icon-remove-sign:before {
    content: '';
}

.hijri-calendar .icon-MIT:before {
    content: '';
}

.hijri-calendar button,
.hijri-calendar input[type='submit'] {
    -webkit-font-smoothing: antialiased;
    background-color: #477dca;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    padding: 0.75em 1em;
    text-decoration: none;
}

.hijri-calendar button:hover,
.hijri-calendar input[type='submit']:hover {
    background-color: #2c5999;
    color: white;
}

.hijri-calendar button:disabled,
.hijri-calendar input[type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.hijri-calendar h1,
.hijri-calendar h2,
.hijri-calendar h3,
.hijri-calendar h4,
.hijri-calendar h5,
.hijri-calendar h6 {
    font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
    line-height: 1.25;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.hijri-calendar h1 {
    font-size: 2.25em;
}

.hijri-calendar h2 {
    font-size: 2em;
}

.hijri-calendar h3 {
    font-size: 1.75em;
}

.hijri-calendar h4 {
    font-size: 1.5em;
}

.hijri-calendar h5 {
    font-size: 1.25em;
}

.hijri-calendar h6 {
    font-size: 1em;
}

.hijri-calendar p {
    margin: 0 0 0.75em;
}

.hijri-calendar a {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    color: #477dca;
    text-decoration: none;
}

.hijri-calendar a:hover {
    color: #2c5999;
}

.hijri-calendar a:active,
.hijri-calendar a:focus {
    color: #2c5999;
    outline: none;
}

.hijri-calendar hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.5em 0;
}

.hijri-calendar img,
.hijri-calendar picture {
    margin: 0;
    max-width: 100%;
}

.hijri-calendar blockquote {
    border-left: 2px solid #ddd;
    color: #595959;
    margin: 1.5em 0;
    padding-left: 0.75em;
}

.hijri-calendar cite {
    color: #737373;
    font-style: italic;
}

.hijri-calendar cite:before {
    content: '\2014 \00A0';
}

.hijri-calendar fieldset {
    background: #f7f7f7;
    border: 1px solid #ddd;
    margin: 0 0 0.75em 0;
    padding: 1.5em;
}

.hijri-calendar input,
.hijri-calendar label,
.hijri-calendar select {
    display: block;
    font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
    font-size: 1em;
}

.hijri-calendar label {
    font-weight: bold;
    margin-bottom: 0.375em;
}

.hijri-calendar label.required:after {
    content: '*';
}

.hijri-calendar label abbr {
    display: none;
}

.hijri-calendar textarea,
.hijri-calendar input[type='email'],
.hijri-calendar input[type='number'],
.hijri-calendar input[type='password'],
.hijri-calendar input[type='search'],
.hijri-calendar input[type='tel'],
.hijri-calendar input[type='text'],
.hijri-calendar input[type='url'],
.hijri-calendar input[type='color'],
.hijri-calendar input[type='date'],
.hijri-calendar input[type='datetime'],
.hijri-calendar input[type='datetime-local'],
.hijri-calendar input[type='month'],
.hijri-calendar input[type='time'],
.hijri-calendar input[type='week'],
.hijri-calendar select[multiple='multiple'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color;
    -moz-transition: border-color;
    transition: border-color;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
    font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
    font-size: 1em;
    margin-bottom: 0.75em;
    padding: 0.5em 0.5em;
    width: 100%;
}

.hijri-calendar textarea:hover,
.hijri-calendar input[type='email']:hover,
.hijri-calendar input[type='number']:hover,
.hijri-calendar input[type='password']:hover,
.hijri-calendar input[type='search']:hover,
.hijri-calendar input[type='tel']:hover,
.hijri-calendar input[type='text']:hover,
.hijri-calendar input[type='url']:hover,
.hijri-calendar input[type='color']:hover,
.hijri-calendar input[type='date']:hover,
.hijri-calendar input[type='datetime']:hover,
.hijri-calendar input[type='datetime-local']:hover,
.hijri-calendar input[type='month']:hover,
.hijri-calendar input[type='time']:hover,
.hijri-calendar input[type='week']:hover,
.hijri-calendar select[multiple='multiple']:hover {
    border-color: #c4c4c4;
}

.hijri-calendar textarea:focus,
.hijri-calendar input[type='email']:focus,
.hijri-calendar input[type='number']:focus,
.hijri-calendar input[type='password']:focus,
.hijri-calendar input[type='search']:focus,
.hijri-calendar input[type='tel']:focus,
.hijri-calendar input[type='text']:focus,
.hijri-calendar input[type='url']:focus,
.hijri-calendar input[type='color']:focus,
.hijri-calendar input[type='date']:focus,
.hijri-calendar input[type='datetime']:focus,
.hijri-calendar input[type='datetime-local']:focus,
.hijri-calendar input[type='month']:focus,
.hijri-calendar input[type='time']:focus,
.hijri-calendar input[type='week']:focus,
.hijri-calendar select[multiple='multiple']:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06),
    0 0 5px rgba(55, 112, 192, 0.7);
    outline: none;
}

.hijri-calendar textarea {
    resize: vertical;
}

.hijri-calendar input[type='search'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.hijri-calendar input[type='checkbox'],
.hijri-calendar input[type='radio'] {
    display: inline;
    margin-right: 0.375em;
}

.hijri-calendar input[type='file'] {
    padding-bottom: 0.75em;
    width: 100%;
}

.hijri-calendar select {
    margin-bottom: 1.5em;
    max-width: 100%;
    width: auto;
}

.hijri-calendar table {
    border-collapse: collapse;
    margin: 0.75em 0;
    table-layout: fixed;
    width: 100%;
}

.hijri-calendar th {
    border-bottom: 1px solid #b7b7b7;
    font-weight: bold;
    padding: 0.75em 0;
    text-align: left;
}

.hijri-calendar td {
    border-bottom: 1px solid #ddd;
    padding: 0.75em 0;
}

.hijri-calendar tr,
.hijri-calendar td,
.hijri-calendar th {
    vertical-align: middle;
}

.hijri-calendar ul,
.hijri-calendar ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hijri-calendar dl {
    margin-bottom: 0.75em;
}

.hijri-calendar dl dt {
    font-weight: bold;
    margin-top: 0.75em;
}

.hijri-calendar dl dd {
    margin: 0;
}

.hijri-calendar button,
.hijri-calendar input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.hijri-calendar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hijri-calendar *,
.hijri-calendar *:before,
.hijri-calendar *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.hijri-calendar main {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

.hijri-calendar main::after {
    clear: both;
    content: '';
    display: table;
}

.hijri-calendar main::after {
    clear: both;
    content: '';
    display: table;
}

.hijri-calendar .year-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    padding: 0 1em;
    text-align: center;
}

.hijri-calendar .year-row:last-child {
    margin-right: 0;
}

.hijri-calendar .year-row::after {
    clear: both;
    content: '';
    display: table;
}

@media screen and (min-width: 45em) {
    .hijri-calendar .year-row {
        font-size: 1.25em;
    }
}

.hijri-calendar .year-row .year-controls {
    display: inline-block;
    vertical-align: middle;
}

.hijri-calendar .year-row .year-controls h2 {
    display: inline-block;
    padding: 0 0.2em;
}

.hijri-calendar .year-row .year-controls a {
    font-size: 2em;
    line-height: 1.25em;
}

.hijri-calendar .year-row .year-controls a:hover {
    color: #2c5999;
}

@media screen and (max-width: 30em) {
    .hijri-calendar .year-row .year-controls {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        text-align: left;
    }

    .hijri-calendar .year-row .year-controls:last-child {
        margin-right: 0;
    }
}

.hijri-calendar .year-row .today-button {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 30em) {
    .hijri-calendar .year-row .today-button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0;
        text-align: right;
    }

    .hijri-calendar .year-row .today-button:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 30em) {
    .hijri-calendar .year-row .today-button {
        padding-left: 1em;
    }
}

@media screen and (min-width: 45em) {
    .hijri-calendar .year-row .today-button {
        padding-left: 1.25em;
    }
}

.hijri-calendar .month-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
    padding: 1em 1em 0;
}

.hijri-calendar .month-row:last-child {
    margin-right: 0;
}

.hijri-calendar .month-row::after {
    clear: both;
    content: '';
    display: table;
}

.hijri-calendar .month-row .month-controls {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
}

.hijri-calendar .month-row .month-controls:last-child {
    margin-right: 0;
}

.hijri-calendar .month-row .month-controls h3 {
    display: inline-block;
    font-size: 1em;
    line-height: 2.5em;
    text-align: center;
}

@media screen and (min-width: 30em) {
    .hijri-calendar .month-row .month-controls h3 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 45em) {
    .hijri-calendar .month-row .month-controls h3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
    }

    .hijri-calendar .month-row .month-controls h3:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 45em) {
    .hijri-calendar .month-row .month-controls h3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        font-size: 1.75em;
    }

    .hijri-calendar .month-row .month-controls h3:last-child {
        margin-right: 0;
    }
}

.hijri-calendar .month-row .month-controls a {
    font-size: 2em;
    line-height: 1.25em;
}

.hijri-calendar .month-row .month-controls a.next {
    margin-right: 0;
}

.hijri-calendar .month-row .month-controls a:hover {
    color: #2c5999;
}

@media screen and (max-width: 30em) {
    .hijri-calendar .month-row .month-controls a.next {
        text-align: right;
    }
}

@media screen and (min-width: 30em) {
    .hijri-calendar .month-row .month-controls a {
        line-height: 2em;
    }

    .hijri-calendar .month-row .month-controls a.prev {
        text-align: right;
    }

    .hijri-calendar .month-row .month-controls a.next {
        text-align: left;
    }
}

@media screen and (max-width: 45em) {
    .hijri-calendar .month-row .month-controls a {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%;
    }

    .hijri-calendar .month-row .month-controls a:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 45em) {
    .hijri-calendar .month-row .month-controls a {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        font-size: 2.5em;
    }

    .hijri-calendar .month-row .month-controls a:last-child {
        margin-right: 0;
    }
}

.hijri-calendar .calendar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
}

.hijri-calendar .calendar:last-child {
    margin-right: 0;
}

.hijri-calendar .calendar::after {
    clear: both;
    content: '';
    display: table;
}

.hijri-calendar .calendar table {
    border-collapse: collapse;
    border-spacing: 0;
    border-width: 0;
    margin: 0;
}

.hijri-calendar .calendar table thead tr > th {
    width: 14.28571%;
    border: 0;
    text-align: center;
}

.hijri-calendar .calendar table tbody tr:last-child {
    border-bottom: 1px solid #ddd;
}

.hijri-calendar .calendar table tbody tr td {
    width: 14.28571%;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    border-left: 1px solid #ddd;
    border-right: 0;
}

.hijri-calendar .calendar table tbody tr td:last-child {
    border-right: 1px solid #ddd;
}

.hijri-calendar .day {
    color: #555;
    cursor: pointer;
}

.hijri-calendar .day:hover {
    background-color: #eaeaea;
    color: #000;
    cursor: pointer;
}

.hijri-calendar .day.today {
    background-color: #c3f393;
}

.hijri-calendar .day.today:hover {
    background-color: #aaee65;
}

.hijri-calendar .filler {
    color: #c4c4c4;
}

.hijri-calendar .day,
.hijri-calendar .filler {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    height: 5em;
    padding: 0;
}

.hijri-calendar .day .hijri,
.hijri-calendar .filler .hijri {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    line-height: 1.2em;
    padding-right: 0.1em;
    text-align: right;
}

.hijri-calendar .day .gregorian,
.hijri-calendar .filler .gregorian {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.2em;
    font-size: 0.8em;
    line-height: 1.2em;
    text-align: left;
}

.hijri-calendar .day .day-icon,
.hijri-calendar .filler .day-icon {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.hijri-calendar .day .day-icon i,
.hijri-calendar .filler .day-icon i {
    font-size: 1.5rem;
    line-height: 5rem;
}

.hijri-calendar .day .day-icon i.icon-sun,
.hijri-calendar .filler .day-icon i.icon-sun {
    color: orange;
}

.hijri-calendar .day .day-icon i.icon-circle,
.hijri-calendar .filler .day-icon i.icon-circle {
    color: #aaa;
    font-size: 0.5rem;
}

.hijri-calendar .day .day-icon i.icon-moon,
.hijri-calendar .filler .day-icon i.icon-moon {
    color: blue;
}

.hijri-calendar .day-modal input[type='checkbox'] {
    display: none;
}

.hijri-calendar .day-modal input[type='checkbox']:checked + .modal-window {
    opacity: 1;
    visibility: visible;
}

.hijri-calendar .day-modal input[type='checkbox']:checked + .modal-window .modal-inner {
    top: 0;
}

.hijri-calendar .day-modal .modal-window {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    text-align: left;
    visibility: hidden;
    z-index: 100;
}

.hijri-calendar .day-modal .modal-close {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    background: white;
}

.hijri-calendar .day-modal .modal-close:after,
.hijri-calendar .day-modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #ddd;
    content: '';
    display: block;
    margin: -3px 0 0 -1px;
}

.hijri-calendar .day-modal .modal-close:hover:after,
.hijri-calendar .day-modal .modal-close:hover:before {
    background: #c4c4c4;
}

.hijri-calendar .day-modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hijri-calendar .day-modal .modal-inner {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 2.5%);
    -moz-transform: translate(-50%, 2.5%);
    -ms-transform: translate(-50%, 2.5%);
    -o-transform: translate(-50%, 2.5%);
    transform: translate(-50%, 2.5%);
    border-radius: 3px;
    width: 95%;
    height: 95%;
    padding: 1em;
    background: white;
    text-align: center;
    overflow: hidden;
}

@media screen and (min-width: 30em) {
    .hijri-calendar .day-modal .modal-inner {
        -webkit-transform: translate(-50%, 10%);
        -moz-transform: translate(-50%, 10%);
        -ms-transform: translate(-50%, 10%);
        -o-transform: translate(-50%, 10%);
        transform: translate(-50%, 10%);
        width: 80%;
        height: 80%;
        padding: 2em;
    }
}

@media screen and (min-width: 45em) {
    .hijri-calendar .day-modal .modal-inner {
        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        width: 60%;
        max-height: 50%;
        overflow: auto;
    }
}

.hijri-calendar .day-modal .modal-inner h3 {
    margin-top: 2em;
    font-size: 1em;
}

@media screen and (min-width: 30em) {
    .hijri-calendar .day-modal .modal-inner h3 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 45em) {
    .hijri-calendar .day-modal .modal-inner h3 {
        font-size: 1.75em;
    }
}

.hijri-calendar .day-modal .modal-inner h4 {
    font-size: 1em;
    font-weight: normal;
}

@media screen and (min-width: 30em) {
    .hijri-calendar .day-modal .modal-inner h4 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 45em) {
    .hijri-calendar .day-modal .modal-inner h4 {
        font-size: 1.75em;
    }
}

.hijri-calendar .miqaat-list {
    margin: 1em;
}

.hijri-calendar .miqaat-list ul.miqaats {
    list-style-type: square;
    text-align: left;
}

.hijri-calendar .miqaat-list ul.miqaats li.none,
.hijri-calendar .miqaat-list ul.miqaats li.error {
    list-style-type: none;
    text-align: center;
}

.hijri-calendar .miqaat-list ul.miqaats .description {
    font-size: 0.9em;
    font-style: italic;
}